<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IMS | Change password</title>
    <link rel="stylesheet" href="assets/css/styleCh.css">
  </head>
  <body>
    <div class="center">
      <h1>Change Password</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Current Password</label>
        </div>
         <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>New Password</label>
        </div>
         <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Confirm Password</label>
         </div>
        <input type="submit" value="Submit">
        <br><br>
      </form>
    </div>

  </body>
</html>
