<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change bank - IMS</title>
    <link rel="stylesheet" href="assets/css/styleBan.css">
  </head>
  <body>
    <div class="center">
      <h1>Change Bank Details</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Bank Name</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Account Number</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Type</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Branch code</label>
        </div>
        <input type="submit" value="Submit">
       <br><br>
      </form>
    </div>

  </body>
</html>
